{{#if @href}}
  <a href={{@href}} target="_blank" rel="noopener noreferrer" class="link" ...attributes>{{yield}}</a>
{{else}}
  <LinkTo @route={{@route}} class="link" ...attributes>
    {{yield}}
  </LinkTo>
{{/if}}